.zxc{
    border: 79px groove violet;
    width: 90;
    height: 100px;
    margin: 150px 0 0 0;
    float: left;
    background-color: aqua;
}
.cxz{
    border: 100px groove tomato;
    width: 50px;
    height: 40px;
    margin: 300px 0 0 0;
    float: left;
    background-color: aqua;
    background-image: url(54jfif)
    
}